*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
}

body{
    font-family: montserrat;
}
nav{
    background:black ;
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius:10px;
    text-transform: uppercase;
}
.active,a:hover{
    background:#1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background:#2c3e50; 
        top: 80px;
        left: -70%;
        text-align:right;
        transition: all .5s;
    }
    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6;
    } 
    #check:checked ~ ul{
        left: 0;
    }
}

section{
    background: url(image/haukai-bistro-bar.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}



/*menu page*/
.menu{
    padding: 0 10px 30px 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap:20px 40px;
    background-color:#f3f3f3;;
}

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius:20px; 
    box-shadow: 0 0 50px rgba(0,0,0,.1);
}
.food-items img{
    position: relative;
    width:100%;
    height:300px;
    border-radius:15px 15px 0 0;
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight:600;
    font-size:18px;
}
.price{
    text-align: right;
}

.details>p{
    color:#6f6f6f;
    font-size:18px;
    line-height:28px;
    font-weight:400;
    align-self:stretch;
}
.details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

/*trading-time page*/
.container{
    background-color: whitesmoke;
    margin:200px;
    box-shadow:rgba(0,0,0, .1);
    display:grid;
}
.container-time{
    background-color:rgba(0,0,0, .95);
    padding:50px;
    outline: 3px dashed;
    color:#998100;
    outline-offset: -30px;
    text-align:center;
}
.heading-book{
    font-size:35px;
    text-transform:uppercase;
 }
 .heading-days{
    font-size:20px;
    color:whitesmoke;
 }
 .heading-phone{
    font-size:20px;
    color:whitesmoke;
    text-align:center
 }



/*book page*/
.book-container{
    background-color: whitesmoke;
    margin:200px;
    box-shadow:rgba(0,0,0, .1);
    display:grid;
    grid-template-columns: 60% 40%;
}
.policy-container{
    background-color:rgba(0,0,0, .95);
    padding:50px;
    outline: 3px dashed;
    color:#998100;
    outline-offset: -30px;
    text-align:left;
}
.private-policy{
    font-size:25px;
    text-transform:uppercase;
    text-align:center;
    color:#998100;
}

.container-form {
    padding:20px 0;
    margin:0 auto;
    color:#000;
 }
 .form{
     display:grid;
     grid-row-gap:20px;
 }
 .form p{
     font-weight:600;
 }
 .form-field{
    display:flex;
    justify-content:space-between;
 }
input,select{
    pad:10px 15px;
}
.btn{
    background-color:rgba(0,0,0, .95);
    color:#fff;
    padding:10px 20px;
    border:none;
    font-size:18px;
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    box-shadow:7px 10px 12px rgba(0,0,0, .1);
    cursor:pointer;
    transition:all .3s;
    -webkit-transition:all .3;
    -moz-transition:all .3;
    -ms-transition:all .3;
    -o-transition:all .3;
}
.btn:hover{
    transform:scale(1.03);
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
}



/*contact us*/
.contact{
    padding: 15rem 10rem;
    width:100%;
    background-image:url("maori food_3.jpg");
    background-size:cover;
}
.contact-content{
    height:auto;
    width:100%;
    display:flex;
    justify-content:center;
    border-radius:10px;
    box-shadow:0 0 3rem rgba(0,0,0,0.9);
}
.left{
    background-color:#da6b1d;
    width:100%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.right{
    background-color:white;
    width:100%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    position:relative;
}
.right-img{
    height: 22rem;
    width: 22rem;
    position: absolute;
    top: -11rem;
    left: -11rem;
}
.contact-form{
    padding: 5rem;
    width: 100%;
}
.heading-heading-yellow{
    text-align:center;
}
.form{
    width: 100%;
    text-align: center;
    padding: 3rem 0;
}
.form-group{
    position:relative;
    padding: 2rem;
    width: 100%;
}
.contact-heading{
    font-size: 6rem;
    color:#da6b1d;
}

.contact-btn:link,
.contact-btn:visited{
    text-decoration: none;
    display: inline-block;
    border: 3px solid #da6b1d;
    background-color:transparent;
    color:#da6b1d;
    outline: none;
    font-size: 3.4rem;
    border-radius: 10px;
    margin-top:2 rem;
    padding: 1rem 2rem;
    box-shadow:0 0 1rem rgba(0,0,0,.4);
    transition:all .4s ease;
}

.contact-ctn:hover{
    background-color:#da6b1d;
    box-shadow:0 .3rem 1rem rgba(0,0,0,.6);
    color:white;
}

.input{
    width: 98%;
    outline: none;
    border: 3px solid #da6b1d;
    background-color:#fff;
    height: 7rem;
    font-size: 2rem;
    border-radius: 1000px;
    text-indent: 5px;
    box-shadow: 0 0 1rem raba(0,0,0,.2);
    padding:1rem;
    transition:all .4s ease;
}

.input:focus{
    width:100%;
}

.input:valid{
    border-left: 10px solid green;
}
.input:invalid{
    border-left:10px solid red;
}
.textarea{
    resize: none;
    height: 15rem;
    border-radius: 40px;
    padding: 2rem;
}
 
.form-group label{
    position:absolute;
    top: 46px;
    left: 61px;
    font-size: 1.4rem;
    background-color:white;
    visibility: hidden;
    transition: top .4s ease, left .4s ease;
}

.input:focus ~ label{
    top: 11px;
    left: 61px;
    padding: 0 1rem;
    box-shadow:0 0 1rem rgba(0,0,0,.4);
    visibility: hidden;
    border-radius: 10px;
}
.input:focus::placeholder{
    color:transparent;
}
.left{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
}

.maps-title{
    font-size:5rem;
    color:white;
    text-align:center;
}

/*work schedule*/
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type



/*page footer*/
footer{
    background-color: black;
    color: white;
    height: 50px;
	width: 100%;
    position: fixed;
    bottom: 0; 
    font-size:15px;
    text-align:center;  
    font-family:'popons', sans-serif;
    letter-spacing:3px;  
    margin-bottom:auto;
}





